@model WziumStars.Models.ViewModels.OrderDetailsKoszyk
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cartHeader text-center mb-5">
    <a class="text-white text-decoration-none" asp-action="Index" asp-area="Klient" asp-controller="KoszykUzytkownika">KOSZYK</a>&nbsp;
    <i class="fas fa-arrow-right"></i>&nbsp;
    <a class="text-decoration-none" asp-action="Podsumowanie" asp-area="Klient" asp-controller="KoszykUzytkownika">SZCZEGÓŁY ZAMÓWIENIA</a>&nbsp;
    <i class="fas fa-arrow-right"></i>&nbsp;
    <span> PŁATNOŚĆ</span>
</div>
<form method="post" class="paddingX">
    @if (Model.listCart.Count > 0)
    {
        <input id="userId" asp-for="@Model.listCart[0].ApplicationUserId" hidden />
        <div class="row">
            <div class="col-8">
                <table class="table grayFont">
                    <tr>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>
                            Produkt
                        </th>
                        <th>
                            Cena
                        </th>
                        <th>
                            Ilość
                        </th>
                    </tr>
                    @foreach (var item in Model.listCart)
                    {
                        <tr>
                            <td style="vertical-align:middle">
                                <button type="submit" id="cartDeleteButton" asp-action="Remove" asp-route-cartId="@item.Id">
                                    <i class="fas fa-times"></i>
                                </button>
                            </td>
                            <td>
                                <a asp-area="Klient" asp-controller="Produkt" asp-action="Szczegoly" asp-route-Id="@item.ProduktId">
                                    <img src="@item.Produkt.Avatar" class="rounded" style="margin-right: -60px; height: 75px;" />
                                </a>
                            </td>
                            <td style="vertical-align:middle">
                                <strong>@item.Produkt.Name</strong>
                            </td>
                            <td style="vertical-align:middle">
                                <strong>@item.Produkt.Price<span>,00 zł</span></strong>
                            </td>
                            <td style="vertical-align:middle">
                                <div class="row">
                                    <button type="submit" class="cartCountButton" asp-action="Plus" asp-route-cartId="@item.Id">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <div class="cartCountDiv">
                                        <span>@item.Count</span>
                                    </div>
                                    <button type="submit" class="cartCountButton" asp-action="Minus" asp-route-cartId="@item.Id">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="row">
                            <div class="col-7">
                                <input asp-for="@Model.OrderHeader.CouponCode" id="txtCouponCode" class="form-control formInput" placeholder="Kupon..."/>
                            </div>
                            <div class="col-5" style="margin-top:2px;">
                                <button type="submit" class="btn btn-sm form-control btn-outline-success" id="btnCoupon" asp-action="AddCoupon">
                                    ZATWIERDŹ
                                </button>
                                <button type="submit" class="btn btn-sm form-control btn-outline-danger" style="display:none" id="btnRemoveCoupon" asp-action="RemoveCoupon">
                                    USUŃ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 border p-4">
                <h4 class="text-center mb-1">PODSUMOWANIE KOSZYKA</h4>
                <div class="row border-bottom py-3">
                    <strong class="col-6">KWOTA</strong>
                    <strong class="col-6 text-right">@Model.OrderHeader.OrderTotalOriginal,00 zł</strong>
                </div>
                <div class="row border-bottom py-3">
                    <strong class="col-3">WYSYŁKA</strong>
                    <div class="col-9 text-right">
                        List polecony priorytetowy: <strong>9,00 zł</strong> <input type="radio" name="Delivery" value="Poczta" checked />
                    </div>
                </div>
                @if (Model.OrderHeader.CouponCode != null)
                {
                    <div class="row border-bottom py-3">
                        <strong class="col-6">KOD PROMOCYJNY</strong>
                        <strong class="col-6 text-right">-@(Model.OrderHeader.CouponCodeDiscount),00 zł</strong>
                    </div>
                }
                <div class="row py-3">
                    <strong class="col-3">SUMA</strong>
                    <div class="col-9 text-right">
                        <strong>@Model.OrderHeader.OrderTotal,00 zł</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="grayButton col-3">POWRÓT</a>
            <a asp-action="Podsumowanie" asp-area="Klient" asp-controller="KoszykUzytkownika" class="whiteButton col-3 offset-6 text-center">PRZEJDŹ DO KASY</a>
        </div>
    }
    else
    {
        <div class="col-10 offset-1 mb-5">
            <h4> Brak produktów w koszyku...</h4>
            <div class="mt-5">
                <a asp-action="Index" asp-controller="Home" class="grayButton">POWRÓT DO STRONY GŁÓWNEJ</a>
            </div>
        </div>
    }
</form>
@section Scripts
{
    <script>
        $(function () {
            var couponCode = document.getElementById("txtCouponCode").value;
            if (couponCode.length > 0) {
                document.getElementById('btnCoupon').style.display = 'none';
                document.getElementById('btnRemoveCoupon').style.display = '';
            }
            else {
                document.getElementById('btnCoupon').style.display = '';
                document.getElementById('btnRemoveCoupon').style.display = 'none';
            }
        });
    </script>
}
