@model IEnumerable<Produkt>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 col-md-10 offset-md-1 mb-5">
    <div class="row">
        <div class="col-6">
            <h1 style="font-family:'Playfair Display', serif;" class="goldColor">Wszystkie produkty</h1>
        </div>
        <div class="col-6 text-right pt-3">
            <a asp-action="Dodaj" class="goldButton">&nbsp;<i class="fas fa-plus"></i>&nbsp; DODAJ &nbsp;</a>
        </div>
    </div>
    <hr />
    <div style="font-family:'Playfair Display', serif;">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <a asp-action="Szczegoly" asp-route-Id="@item.Id" class="recommend">
                    <img src="@Html.DisplayFor(m => item.Avatar)" alt="photo">
                    <div class="goldColor">@Html.DisplayFor(m => item.Name)</div>
                    <div style="font-size: 15px; color: black; font-weight:500;" class="text-truncate">@Html.DisplayFor(m => item.Description)</div>
                    <div style="color: black">@Html.DisplayFor(m => item.Price) PLN</div>
                </a>
            }
        }
        else
        {
            <p>Brak produktów do wyświetlenia...</p>
        }
    </div>
</div>

