@model IEnumerable<Produkt>
@using WziumStars.Utility
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img class="d-block w-100" src="~/images/slide2.jpg" alt="Photo">
<div class="paddingX">
    @if (Model.FirstOrDefault() == null)
    {
        <h2>Brak produktów</h2>
    }
    else if (Model.FirstOrDefault().SubCategory == null)
    {
        <h2>Wszystkie produkty</h2>
    }
    else
    {
        <h2>@Model.FirstOrDefault().SubCategory.Name</h2>
    }
    @if (User.IsInRole(SD.AdminEndUser))
    {
        <div class="text-right pr-4">
            <a asp-action="Dodaj" class="grayButton">&nbsp;<i class="fas fa-plus"></i>&nbsp; DODAJ &nbsp;</a>
        </div>
    }
    <hr />
    <div style="font-family:'Playfair Display', serif; display: inline-block">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <button onclick="location.href='@Url.Action("CheckAnonymousUserOrIdentityUser", "Produkt", item)'" class="product">
                    <img src="@Html.DisplayFor(m => item.Avatar)" alt="photo">
                    <div class="mt-2">@Html.DisplayFor(m => item.Name)</div>
                    <div class="price">@Html.DisplayFor(m => item.Price),00 zł</div>
                </button>
            }
        }
        else
        {
            <p>Brak produktów do wyświetlenia...</p>
        }
    </div>
</div>

