@model WziumStars.Models.Koszyk
@using WziumStars.Extensions
@using WziumStars.Utility
@{
    ViewData["Title"] = "SzczegolyLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="col-12 col-md-10 offset-md-1 mb-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (User.IsInRole(SD.AdminEndUser))
        {
            <div class="row offset-11">
                <a class="goldButton py-2" asp-action="Edit" asp-route-Id="@Model.ProduktId">
                    <i class="fas fa-edit"></i>
                </a>&nbsp;
                <a class="brownButton py-2" asp-action="Delete" asp-route-Id="@Model.ProduktId">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
        }
        <div class="row" style="font-family:'Lucida Sans Unicode';">
            <img src="@Model.Produkt.Avatar" class="col-lg-6 col-md-12 col-sm-12 col-xs-12" />
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <h2 font-weight:600;" class="goldColor col-12">@Model.Produkt.Name</h2>
                <label class="col-12 text-justify">@Model.Produkt.Description</label>
                <div class="form-group row mt-2">
                    <h2 class="col-5">@Model.Produkt.Price,00 zł</h2>
                    <span class="col-2 offset-2 p-2">Ilość: </span>
                    <span class="col-1 p-2">szt.</span>
                </div>
                <div class="ml-3">
                    <button type="submit" value="Add to Cart" class="goldButton"><i class="fas fa-shopping-cart"></i> DODAJ DO KOSZYKA</button>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <input asp-for="Produkt.Name" type="hidden" class="form-control" style="background-color: white; border: none; font-size: 30px; color: mediumseagreen; font-weight:600;" />
        </div>
        <div class="col-md-8">
            <input asp-for="Produkt.Description" type="hidden" class="form-control" />
        </div>
        <div class="col-md-8">
            <input asp-for="Produkt.Price" readonly type="hidden" class="form-control" />
        </div>

    </div>
    <input asp-for="ProduktId" hidden />
</form>

@section Scripts{


    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

