@model WziumStars.Models.ViewModels.OrderDetailsViewModel
@using WziumStars.Utility

<form asp-action="OrderPickup" asp-controller="Order" asp-route-orderId="@Model.OrderHeader.Id" method="post">
    <div class="row border m-0 p-0">
        <div class="col-lg-8 col-12" style="border-right: 1px solid #bbb9b9">
            <br />
            <input type="hidden" asp-for="OrderHeader.Id" />
            <div class="form-group row">
                <div class="col-3">
                    <label>Imię</label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.FirstName" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Nazwisko</label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.LastName" disabled class="form-control" />
                </div>
            </div>
            @if (Model.OrderHeader.Paczkomat != null)
            {
                <div class="form-group row">
                    <div class="col-3">
                        <label>Paczkomat</label>
                    </div>
                    <div class="col-9">
                        <input asp-for="OrderHeader.Paczkomat" disabled class="form-control" />
                    </div>
                </div>
            }
            <div class="form-group row">
                <div class="col-3">
                    <label>Kraj</label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.Country" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Miasto</label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.City" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Ulica</label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.Street" disabled class="form-control" />
                </div>
            </div>
            @if (Model.OrderHeader.ApartmentNumber != null)
            {
                <div class="form-group row">
                    <div class="col-3">
                        <label>Nr mieszkania</label>
                    </div>
                    <div class="col-9">
                        <input asp-for="OrderHeader.ApartmentNumber" disabled class="form-control" />
                    </div>
                </div>
            }
            <div class="form-group row">
                <div class="col-3">
                    <label>Email</label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.Email" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Telefon</label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.PhoneNumber" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Komentarz</label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.Comments" disabled class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12 pt-3">
            <h4 class="d-flex justify-content-between align-content-center mb-3">
                <span class="text-muted">ID zamówienia: </span>
                <span class="badge badge-secondary badge-pill">@Model.OrderHeader.Id</span>
            </h4>
            <div class="row col-12 text-dark">
                <h6>Data zakupu: </h6>&nbsp;
                <h6> @Model.OrderHeader.OrderDate</h6>
            </div>
            <ul class="list-group mb-3">
                @foreach (var details in Model.OrderDetails)
                {  
                <li class="list-group-item d-flex justify-content-between">
                    <a class="text-decoration-none" asp-area="Klient" asp-controller="Produkt" asp-action="Szczegoly" asp-route-Id="@details.ProduktId">
                        <div>
                            <h6 class="my-0 text-muted">@details.Name</h6>
                            <small class="text-muted">Ilość: @details.Count</small>
                        </div>
                        <span class="text-muted">@(details.Price * details.Count),00 zł</span>
                    </a>
                </li>        
                }
                <li class="list-group-item d-flex justify-content-between">
                    <div class="text-danger">
                        <h6 class="my-0">Koszt dostawy</h6>
                    </div>
                    <span class="text-danger">+@(Model.OrderHeader.DeliveryCost),00 zł</span>
                </li>
                @if (Model.OrderHeader.CouponCode != null)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div class="text-success">
                            <h6 class="my-0">Kod promocyjny</h6>
                            <small class="text-success">@Model.OrderHeader.CouponCode</small>
                        </div>
                        <span class="text-success">-@(Model.OrderHeader.CouponCodeDiscount),00 zł</span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <span class="goldColor">Razem (PLN)</span>
                    <strong class="goldColor">@Model.OrderHeader.OrderTotal,00 zł</strong>
                </li>
            </ul>
            <div class="row mb-4">
                <h4 class="col-4">Status: </h4>
                <button type="submit" disabled class="grayButton col-7">@Model.OrderHeader.Status</button>
            </div>
            @if (User.IsInRole(SD.AdminEndUser))
            {
                @if (Model.OrderHeader.Status.Equals(SD.StatusSubmitted))
                {
                        <button type="submit" asp-action="OrderPrepare" asp-route-OrderId="@Model.OrderHeader.Id" class="col-12 btn btn-success mb-4">
                            <i class="fas fa-check">&nbsp; W PRODUKCJI</i>
                        </button>
                }
                else if (Model.OrderHeader.Status.Equals(SD.StatusInProcess))
                {
                        <button type="submit" asp-action="OrderSent" asp-route-OrderId="@Model.OrderHeader.Id" class="col-12 btn btn-success mb-4">
                            <i class="fas fa-flag-checkered">&nbsp; WYSŁANO</i>
                        </button>
                }
                <button type="submit" asp-action="OrderCancel" asp-route-OrderId="@Model.OrderHeader.Id" class="col-12 btn btn-danger">
                    <i class="fas fa-times">&nbsp; ANULUJ</i>
                </button>
            }
        </div>
    </div>
</form>