@model WziumStars.Models.ViewModels.OrderListViewModel
@using WziumStars.Utility
@{
    ViewData["Title"] = "HistoriaZamowien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="paddingX">
    <div class="row">
        <div class="col-6">
            <h1 class="mb-4">Historia zamówień</h1>
        </div>
    </div>
    <div style="overflow-x: auto">
        @if (Model.Orders.Count() > 0)
        {
            <table class="table table-striped border grayTable">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.ApplicationUser.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.OrderTotal)
                    </th>
                    <th>
                        Ilość
                    </th>
                    <th>

                    </th>
                </tr>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.OrderHeader.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.OrderHeader.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.OrderHeader.ApplicationUser.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.OrderHeader.OrderTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.OrderDetails.Count)
                        </td>
                        <td>
                            <button type="submit" class="grayButton anchorDetail" data-id="@item.OrderHeader.Id" data-toggle="modal">
                                <i class="far fa-list-alt"></i>&nbsp; SZCZEGÓŁY
                            </button>
                        </td>
                    </tr>
                }
            </table>
            <div page-model="@Model.PagingInfo" page-classes-enable="true" page-class="btn border"
                 page-class-normal="btn btn-light" page-class-selected="btn btn-info active"
                 class="btn-group float-right">
            </div>
            <br />
        }
        else
        {
            <p>Brak kuponów...</p>
        }
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:9999;">
    <div class="modal-dialog-centered modal-dialog" style="max-width: 90%;" role="document">
        <div class="modal-content">
            <div class="modal-header text-light" style="background-color: #333">
                <div class="col-10 offset-1">
                    <center><h5 class="modal-title">SZCZEGÓŁY ZAMÓWIENIA</h5></center>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-secondary close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body justify-content-center" id="myModalContent">

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        var PostBackURL = '/Klient/Zamowienie/GetOrderDetails';
        var OrderStatusURL = '/Klient/Zamowienie/GetOrderStatus';

        $(function () {
            $(".anchorDetail").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');

                $.ajax({
                    type: "GET",
                    url: PostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    cache: false,
                    datatyype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Nie udało się załadować zawartości");
                    }
                })
            })
        })
    </script>
}

